/*navbar start*/
*{
    margin:0;
    padding:0;
    font-family: poppins;
    box-sizing: border-box;
}
.banner{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(img/background.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.dropdown li{
    display: block;
}
.dropdown{
    width: 100%;
    background: #13b118;
    position: absolute;
    z-index: 999;
    display: none;
}



.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #13b118;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 1s;
}
.navbar ul li:hover:after{

    width: 100%;
    display: block;
    z-index: 999;


}
/*navbar end*/

/*cards about us*/

.container{
    display: flex;
    justify-content: center;
    color: antiquewhite;


}
.card{
    background-color: rgb(49, 57, 51);
    border-radius: 50px;
    box-shadow: #13b118;
    width: 380px;
    height: 395px;
    margin: 20px;
    
}


.fa-solid{
    padding: 20px;
    margin-left: 38%;
    margin-top: 10px;
    font-size: 300%;
    justify-self: center;
  

}
.container h2{
   
  justify-self: center;
  margin-left: 42%;
}
.container p{
    padding: 5px;
    margin: 5px;
}
.card2 h2{
    margin-left: 40%;

}
.card3 i{
    margin-left: 40%;
}
.card3 h2{
    margin-left: 38%;
}

.card3 p{
    color: antiquewhite;
}

.footer{
    background-image: url(/img/background.png);
}
